
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
<!-- Yönlendirmeler-->
@Html.Action("HomePageHead", "Home")

<body>
    <!-- mian-content  Başlıklar-->
    @Html.Action("HomePageHeader", "Home")
    <!-- //header -->
    <!--// banner-slider -->
    <!-- banner-bottom-wthree Kullanılan Araçlar -->
    @Html.Action("HomePageTechnology", "Home")
    <!--// ab -->
    <!-- /services projede yapılanlar-->
    @Html.Action("HomePageServices", "Home")
    <!-- //services -->
    <!-- /experience sertifika -->
    @Html.Action("HomePageExperience", "Home")
    <!-- //experience -->
    <!--gallery  resimler-->
    @Html.Action("HomePageGallery", "Home")
    <!-- //gallery -->
    <!--/stats istatistikler-->
    @Html.Action("HomePageStats", "Home")
    <!--//stats-->
    <!-- /testimonials yapılan yorumlar -->
    @Html.Action("HomePageTestimonials", "Home")
    <!-- //testimonials -->
    <!-- //Contact iletişim kısmı -->
    @Html.Action("HomePageContact", "Home")
    <!-- //Contact -->
    <!--/footer-->
    @Html.Action("HomePageFooter", "Home")
    <!--//footer-->
    <!--model-forms-->
    @Html.Action("HomePageLoginAndRegister", "Home")
    <!--//scriptler-->
    @Html.Action("HomePageScript", "Home")

</body>
</html>
