
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@Html.Action("HeadPartial", "Layout")
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            @Html.Action("LogoPartial", "Layout")
            <!-- Sidebar -->
            @Html.Action("SidebarPartial", "Layout")
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                @RenderBody()

            </div>
        </div>
    </div>
    <!-- jQuery -->
    @Html.Action("ScriptPartial", "Layout")
</body>
</html>