@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h2>Yeni Başlık Ekleme</h2>
<br />

@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık", new { @class = "control-label" })
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori", new { @class = "control-label" })
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar", new { @class = "control-label" })
        @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
        <br />
    </div>

    <button id="btn1" class="btn btn-primary">Kaydet</button>
}

<script>
    $('#btn1').click(function (event) {
        event.preventDefault(); 

        swal({
            title: "Ekleme Başarılı",
            text: "Yönlendiriliyorsunuz",
            icon: "success",
        });

        // 3 saniye sonra yönlendiriyorum
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Heading")';//gidiceği yer
        }, 3000);
    });
</script>
