@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner text-center">
                <h3>@ViewBag.d1</h3>
                <p>Toplam Kategoriler</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner text-center">
                <h3>@ViewBag.d2</h3>
                <p>"Yazılım" Kategorisindeki Başlık Sayısı</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner text-center">
                <h3>@ViewBag.d3</h3>
                <p>'A' Harfi Geçen Yazar Sayısı</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner text-center">
                <h3>@ViewBag.d4</h3>
                <p>En Fazla Başlığa Sahip Kategori</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner text-center">
                <h3>@ViewBag.d5</h3>
                <p>Durumu 'True' ve 'False' Olan Kategoriler Arasındaki Fark</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
